@import "common";

.all {
    background: url(../assets/sign-up/bg-pattern-side.svg), linear-gradient(to right, #fafafa 70.8%, $dark-text 70.8%);
    background-position: 257px -781px, center;

    @include tablet {
        background: url(../assets/sign-up/bg-pattern-side.svg), linear-gradient(to bottom, #fafafa 71%, $dark-text 71%);
        background-position: center 370px, center;
        background-size: 1454px, auto;
    }

    @include mobile {
        background-position: center 350px, center;
    }
}

.main {
    position: relative;
    padding-left: 11.46%;
    padding-right: 11.46%;
    margin-top: 81px;
    padding-bottom: 438px;

    @include tablet {
        padding-left: 5.21%;
        padding-right: 5.21%;
        margin-top: 72px;
        padding-bottom: 126px;
    }

    @include mobile {
        padding-left: 6.4%;
        padding-right: 6.4%;
        padding-top: 46px;
        margin-top: 0;
        padding-bottom: 87px;
        background-image: url(../assets/home/bg-pattern-header.svg);
        background-size: 458px;
        background-position: center -170px;
        background-repeat: no-repeat;
    }

    &__logo {
        margin-bottom: 102px;

        @include tablet {
            margin-bottom: 104px;
        }

        @include mobile {
            margin-bottom: 80px;
            margin-inline: auto;
            display: block;
        }
    }

    &__container {
        @include flexDirection(row);
        gap: 11%;

        @include tablet {
            @include flexDirection(column);
            gap: 104px;
        }

        @include mobile {
            @include flexDirection(column);
            gap: 64px;
        }

        &__col1 {

            @include tablet {
                text-align: center;
            }

            @include mobile {
                text-align: center;
                @include flexDirection(column);
            }

            &__countdown {
                @include tablet {
                    @include flexDirection(column);
                }

                .h--3 {
                    color: $dark-text;
                    margin-bottom: calc(8rem/16);
                }

                &__dates {
                    @include flexDirection(row);
                    justify-content: flex-start;
                    gap: 16px;

                    @include mobile {
                        gap: 12px;
                    }

                    &__box {
                        padding: 24px 17px 17px 17px;
                        background-color: hsla(228, 100%, 66%, 0.1);
                        width: calc(100rem/16);
                        border-radius: 13px;
                        @include flexDirection(column);

                        @include mobile {
                            border-radius: 4px;
                            padding: 11px 15px 10px 16px;
                            width: calc(72rem/16);
                        }

                        .box--number {
                            margin-bottom: 2.5px;
                            color: $generic-blue;
                        }

                        .body--2 {
                            color: $light-text;
                            margin-bottom: 0;
                        }
                    }

                }

            }
        }

        &__col1 h1 {
            margin-bottom: calc(24rem/16);
        }

        &__col1 p {
            margin-bottom: calc(32rem/16);
        }

        //form styling
        &__col2 {
            padding: 40px 42px 51px 43px;
            border-radius: 13px;
            background-color: white;
            position: relative;
            @include flexDirection(column);
            gap: 24px;
            box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);

            @include mobile {
                padding: 24px;
            }

            &__col {
                border: none;
                width: 360px;
                height: 45px;
                position: relative;

                @include mobile {
                    width: 279px;
                }

                input {
                    display: inline-flex;
                    align-items: flex-start;
                    padding-bottom: 6%;
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid hsla(227, 14%, 52%, .5);
                    font-size: size(body--2);
                    line-height: line(body--2);
                }

                input:focus {
                    outline: none;
                }

                input:hover {
                    outline: none;
                }

                ::placeholder {
                    color: $light-text;
                    font-size: size(body--2);
                    line-height: line(body--2);
                }

            }

            .btn {
                margin-top: 16px;
                width: 100%;
            }

            &__menu {
                position: absolute;
                list-style: none;
                background-color: white;
                width: 85%;
                border-radius: 8px;
                border: 1px solid hsla(227, 14%, 52%, .5);
                opacity: 0;
                z-index: -1;
                top: 30%;
                padding: 12px 39px 12px 32px;
                transition: .2s;

                &__option {
                    position: relative;
                    font-weight: weight(bold);
                    font-size: size(body--2);
                    line-height: calc(60rem/16);
                    border-bottom: 1px solid hsla(227, 14%, 52%, .5);
                    cursor: pointer;

                    &__check {
                        display: none;
                        position: absolute;
                        inset: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 95%;
                        width: 13px;
                        height: 10px;
                        background-image: url(../assets/sign-up/icon-check.svg);
                        background-size: contain;
                    }
                }

                &__option:nth-child(3) {
                    border-bottom: none;
                }

                .option--price {
                    color: hsla(227, 22%, 26%, .4);
                    margin-left: 3%;
                }

            }
        }
    }
}


.readonly {
    border-bottom: 1px solid hsla(227, 14%, 52%, .5);
    overflow: hidden;
    position: relative;
    z-index: 99;

    label {
        display: inline-block;
        font-weight: weight(bold);
        font-size: size(body--2);
        line-height: line(body--2);
    }

    input {
        display: inline-block;
        width: 20%;
        border: none;
        color: hsla(227, 22%, 26%, .4);
        font-weight: weight(bold);
        font-size: size(body--2);
        line-height: line(body--2);
        margin-left: 3%;
    }

    #packBtn {
        position: absolute;
        right: 7%;
        bottom: 65%;
        background-color: transparent;
        background-image: url(../assets/sign-up/icon-arrow-down.svg);
        background-size: 12px 6px;
        background-repeat: no-repeat;
        background-position: center center;
        width: 12px;
        height: 8px;
        border: none;
        cursor: pointer;
        z-index: 100;
        transition: .3s;
    }

}

//JS toggles
#packBtn.turn-around {
    transform: rotate(180deg);
}

.show--menu {
    top: 45%;
    opacity: 1;
    z-index: 50;
}

.show--check {
    display: block;
}

.show--ico {
    display: block;
    width: 20px;
    aspect-ratio: 1;
    background-image: url(../assets/sign-up/icon-cross.svg);
    background-size: contain;
    position: absolute;
    left: 90%;
    top: 7%;

}

input.wrong--mail {
    position: relative;
    color: $error-message;
    border-bottom: 1px solid $error-message;
}

.hide {
    display: none;
}